<<<<<<< HEAD
body {
  background-color: #64B0A7 ;
}
=======
.journal {
    background-color: #E9E9E9 ;
    
}




.table {
    background-color: #64B0A7 ;
    
    
}


.art {
  background-color: #FFFFFF ;
}

>>>>>>> 75bd036e704ce41f5dcd82abe8b964711b11ee37
