body {
  background-color: white ;
}
=======
.journal {
    background-color: #E9E9E9 ;
    
}



.left {
    background-color: #64B0A7 ;
    
    
}
.left{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}


.right {
  background-color: #FFFFFF ;
}